.profile_container {
  color: black;
  width: 100%;
  height: 400vh;
  padding: 10rem 15%;
  background-color: #F9FAFC;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  width: 100%;
  padding: 20px 20px;
  border: 1px solid #EAEDF3;
  border-radius: 20px;
}
.profile_address {
  color: #008AFF;
  margin-top: 20px;
}
.profile_tokens {
  font-size: 28px;
  font-weight: 600;
  margin-top: 20px;
}
.profile_token_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 30px;
}

.profile_info_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}
.profile_info_container_Affiliate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}

.profile_description_line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.profile_description_line_affiliate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.profile_info_title{
  font-size: 16px;
  color: grey;
}
.profile_info_number{
  font-size: 22px;
  color: black;
}
.profile_info_listAffiliateAddress{
  font-size: 10px;
  color: black;
}

.profile_token {
  font-size: 20px;
  font-weight: 400;
}
.profile_button {
  width: 10rem;
  color: #008AFF;
  background-color: #F9FAFC;
  font-size: 20px;
  padding: 8px 16px;
  cursor: pointer;
  border: 1px solid #008AFF;
  border-radius: 25px;
  box-shadow: 2px 3px #008AFF;
}
.profile_button:hover {
  background-color: #008AFF;
  color: white;
  box-shadow: none;
}
.profile_button_container {
  width: 21rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media screen and (max-width: 1600px) {
  .profile_info_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    width: 100%;
    margin-top: 25px;
  }
  .profile_description_line{
    margin-top: 10px;
  }
  .profile_info_container_Affiliate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    width: 100%;
    margin-top: 25px;
  }
  .profile_description_line_affiliate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-top: 15px;
  }
}

@media screen and (max-width: 900px) {
  .profile_container {
    padding: 10rem 3%;
  }
  .profile_address {
    font-size: 13px;
  }
  .profile_info_number{
    font-size: 18px;
  }
}