.deleted_button {
  width: 20rem;
  color: #0074d9;
  background-color: #F9FAFC;
  font-size: 20px;
  padding: 12px 16px;
  cursor: pointer;
  border: 1px solid #0074d9;
  border-radius: 25px;
  box-shadow: 2px 3px #0074d9;
  margin-top: 20px;
}
.deleted_button:hover {
  background-color: #0074d9;
  color: white;
  box-shadow: none;
}
.submited_info {
  font-size: 20px;
  margin-top: 20px;
}