.confirmed_button {
  width: 9rem;
  color: #008AFF;
  background-color: #F9FAFC;
  font-size: 20px;
  padding: 12px 16px;
  cursor: pointer;
  border: 1px solid #008AFF;
  border-radius: 25px;
  box-shadow: 2px 3px #008AFF;
  margin-top: 20px;
}
.confirmed_button:hover {
  background-color: #008AFF;
  color: white;
  box-shadow: none;
}
.confirmed_button_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
}
.confirmed_info {
  font-size: 20px;
  margin-top: 20px;
}